/* .owl-theme .owl-nav [class*=owl-]:hover {
    background:transparent;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-] i:hover {
    background-color: black;
} */

.owl-nav{
    text-align: center;
}

.owl-nav button i {
    color: black;
    transition: .2s;
    border: 2px solid black;
}

.owl-nav button i:hover{
    background-color: black;
    color: white;
}

.owl-item {
    height: 100% !important;
}

.item {
    height: 100% !important;
}