:root{
    --mycolor:#68ea30;
}

.wholepage{
    width: 100% vw;
    height:100% vh;
    background:url(./assets/bg.jpeg);
    background-size:cover;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mycolor);
    padding-top: 20px;
}
.loginform{
    width: 300px;
    height: 480px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid var(--mycolor);
    box-shadow:5px 5px  var(--mycolor);
}
.registerform{
    width: 500px;
    height: 650px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid var(--mycolor);
    box-shadow:5px 5px  var(--mycolor);

}
form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 10px;

}
input[type="email"],
input[type="password"],
input[type="text"]{
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--mycolor);
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus
{
    outline: none;
    border: none;
}
.form-group{
    height: 80px;
}
.card-title{
    font-weight: 900;
    padding-top: 20px;
}
.checkbox label{
    padding-left: 10px;
}
.btn{
    background: var(--mycolor)  !important;
}
.loginform button{
    margin-top: -50px;
}
.registermsg{
    text-align: center;
    padding-top: 10px;
}
.registermsg a{
    color: var(--mycolor);;
    font-weight: 1000;
    
}
small{
    color: red;
    font-weight: 500;
}